@charset "UTF-8";
   body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
         
   
        }
        .chat-container {
          width: 600px; /* 또는 원하는 너비 */
          height: 700px; /* 원하는 높이 설정 */
          border: 1px solid #ccc; /* 테두리로 영역 구분 */
          overflow-y: overlay; /* 세로 스크롤 활성화 */
          padding: 10px; /* 내부 여백 */
          box-sizing: border-box; /* 패딩 포함 */
          background-color: #d9e2e8; /* 배경 색상 */
          border-radius: 20px;
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
         
         
         
            
}
::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}
        .message {
            background: #ffffff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
            margin: 20px 0px;
            margin-right: 230px;
         text-align:center;
        }
        .message.user {
            align-self: flex-end;
            background: #485658;
            color: white;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
            margin: 10px 0px;
            margin-left: 400px;
            
        }
        .estimation{
            padding: 15px;
        }
        .estimation input,
        .estimation select{
            margin: 8px 0px;
            padding: 4px;
        }
#engineer{
   width: 255px;
   height: 30px;
}
        .form-button{
            background: #223951;
            color: white;
            padding: 4px;
            border-radius: 3px;
            width: 180px;
        }
        .answering{
            background: #223951;
            color: white;
            padding: 4px;
            border-radius: 3px;
            width: 123px;
        }
        .conductsubmit{
            background: #223951;
            color: white;
            padding: 4px;
            border-radius: 3px;
            width: 163px;
            margin-top: 10px;
        }
        .message.bot {
            align-self: flex-start;
            background: #ffffff;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .button-container button {
            background:#223951;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            width: 230px;
         height: 50px;
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
         margin: 3px 0px;
        }
        .button-container button:hover {
            background: black;
        }
        #review-text{
            margin: 16px 0px;
         width: 250px;
         height: 100px;
        }
        p.frame {
         
          color: gray;
          margin-bottom: 5px;
      }