@charset "UTF-8";
/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(60deg, rgb(104, 245, 255) 0%, rgb(252, 163, 122) 80%);
  height: 100vh;
}

/* 헤더 스타일 */
.header-nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff4757;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #ff4757;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* 배경 */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.waves-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.waves {
  width: 100%;
  height: 100%;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.content-layer {
  position: relative;
  z-index: 1;
}

.layer1 {
  margin: 0 auto;
  margin-top: 180px;
  border-radius: 30px;
  background: transparent;
  border: 20px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 20px rgb(255, 255, 255);
  width: 40%;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

p {
  font-size: 25px;
}

.layer2 {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 30px;
  background: transparent;
  border: 10px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 20px rgb(255, 255, 255);
  width: 60%;
  color: #ffffff;
  text-align: center;
}
