<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.project.mapper.ReservationMapper">

  <select id="findReservationByCustomerInfo" resultType="org.project.dto.ReservationDTO">
    SELECT * FROM reservation
    WHERE customer_name = #{customer_name} 
    AND customer_phone = #{customer_phone} 
  
</select>

<select id="getReservationByNo" parameterType="int" resultType="org.project.dto.ReservationDTO">
        SELECT * FROM reservation WHERE reservation_no = #{reservation_no}
    </select>

 <insert id="insertReservation" parameterType="org.project.dto.ReservationDTO">
       
        
        INSERT INTO reservation 
        (customer_name, customer_phone, address_postcode, address_road, 
        address_bname, address_detail, problem, mechanic, reservation_date, reservation_time)
        VALUES
        (#{customer_name}, #{customer_phone}, #{address_postcode}, #{address_road}, 
        #{address_bname}, #{address_detail}, #{problem}, #{mechanic}, #{reservation_date}, #{reservation_time})
        
        
 
        
    </insert>
     <select id="getAvailableTimesForMechanic" resultType="String">
        SELECT available_time 
        FROM mechanic_schedule
        WHERE mechanic = #{mechanic} 
          AND available_date = #{date} 
          AND is_reserved = FALSE
    </select>
    
     <!-- Correctly mapped method and SQL query -->
    <select id="getReservedTimes" resultType="String">
        SELECT reservation_time
        FROM reservation
        WHERE mechanic = #{mechanic} AND reservation_date = #{date}
    </select>
    
     <select id="findByReservationDateAndReservationTime" resultType="org.project.dto.ReservationDTO">
        SELECT * FROM reservation
        WHERE customer_name = #{reservation_date}
        AND reservation_time = #{reservation_time}
    </select>
    
    
 <select id="selectReservation" resultType="org.project.dto.ReservationDTO">
   select * from reservation;
    </select>
    
   <delete id="cancelReservation" parameterType="int">
        DELETE FROM reservation WHERE reservation_no = #{reservation_no}
    </delete>
   

    
</mapper>